@import url(https://fonts.google.com/css?familly=Raleway:400,500,800);

body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Raleway", Arial, sans-serif;
	background-color: #7f9ead;

}

.card{
	position: relative;
	width: 300px;
	height: 200px;
	border-radius: 10px;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
	transition: 0.5s;
	padding: 30px 50px;
	background-color: #fff;
	cursor: pointer;
}
.card:hover{
	height: 400px;
}

.image-box{
	position: relative;
	margin-left: 22%;
	width: 100%;
	height: 100%;
	transform: translateY(-60px);
    z-index: 99;

}
img{
	width: 50%;
	height: 90%
    border-radius: 10px;
}
.contenu{
	padding: 10px 20px;
	text-align: center;
	transform: translateY(-350px);
	opacity: 0;
	transition: 0.5s

}

.card:hover > .contenu{
	height: 400px;
	opacity: 1;
	transform: translateY(-200px);
}

.contenu h2{
	color:  #7f9ead;
}